readTemplate('{{ oracle_home }}/wlserver/common/templates/wls/wls.jar')

set('Name', '{{ weblogic_domain }}')
set('AdminServerName', '{{ admin_server.name }}')

cd('/Servers/AdminServer')
set('ListenAddress', '{{ admin_server.address }}')
set('ListenPort', {{ admin_server.port }})

cd('/')
cd('Security/{{ weblogic_domain }}/User/weblogic')
set('Name', '{{ weblogic_user }}')
cmo.setPassword('{{ weblogic_pass }}')

cd('/')
create('{{ managed_server.name }}', 'Machine')
cd('/Machines/{{ managed_server.name }}')
create('{{ managed_server.name }}', 'NodeManager')
cd('NodeManager/{{ managed_server.name }}')
set('ListenAddress', '{{ managed_server.address }}')
set('ListenPort', {{ nodemanager.port }})
set('NMType', 'Plain')

cd('/')
create('{{ managed_server.name }}', 'Server')
cd('/Servers/{{ managed_server.name }}')
set('ListenAddress', '{{ managed_server.address }}')
set('ListenPort', {{ managed_server.port }})
set('Machine', '{{ managed_server.name }}')

writeDomain('{{ domain_home }}')
closeTemplate()

readDomain('{{ domain_home }}')
updateDomain()
closeDomain()